boto==2.49.0
boto3==1.26.158
botocore==1.29.158
contourpy==1.1.0
cycler==0.11.0
dnspython==2.3.0
fonttools==4.40.0
jmespath==1.0.1
kiwisolver==1.4.4
matplotlib==3.7.1
mypy==1.4.0
mypy-extensions==1.0.0
numpy==1.25.0
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
pymongo==4.4.0
pyparsing==3.1.0
pyserial==3.5
python-dateutil==2.8.2
s3transfer==0.6.1
six==1.16.0
typing_extensions==4.6.3
urllib3==1.26.16
